---
import Layout from "../layout.astro";
import PageHeader from "../page-header.astro";
---

<Layout>
  <PageHeader>Obszar badań</PageHeader>
  <p>
    Obszar badań tego koła naukowego skupia się na <strong>inżynierii i ochronie środowiska</strong>.
  </p>
  <p>
    Głównym celem jest badanie podstawowych elementów przyrody, takich jak gleba, woda i powietrze, w tym sposobów oceny
    ich jakości i wykrywania zanieczyszczeń.
  </p>
  <p>
    Dodatkowo członkowie pracują nad wykorzystaniem geomateriałów, które pomagają w technologiach przywracania czystości
    środowiska, by poprawić jego stan i wspierać jego regenerację w zrównoważony sposób.
  </p>
  <hr />
  <p class="pt-4"><b>W ramach Koła realizowane są obecnie następujące tematy:</b></p>
  <ul class="list-disc">
    <li>
      Ocena stopnia zanieczyszczenia gleb wokół zakładów przemysłowych oraz ich zdolności sorpcyjnych, z możliwością
      wzbogacenia kompleksu sorpcyjnego poprzez dodatek funkcjonalizowanych materiałów mineralnych i organicznych
    </li>
    <li>
      Analiza form występowania mikroplastiku w różnych komponentach środowiskowych (gleby, pyły atmosferyczne, wody), z
      zastosowaniem zaawansowanych technik analitycznych, takich jak FTIR, spektroskopia Ramana i mikroskopia
      elektronowa oraz ocena możliwości jego unieruchamiania na sorbentach mineralnych
    </li>
    <li>
      Wykorzystanie naturalnych i modyfikowanych materiałów mineralnych oraz żużli wielkopiecowych i stalowniczych do
      sekwestracji CO₂ powstającego w procesach hutniczych, wspierając strategię dekarbonizacyjną przemysłu
    </li>
    <li>
      Usuwanie glikolu i mrówczanu potasu z wód powierzchniowych wokół lotnisk poprzez zastosowanie funkcjonalizowanych
      sorbentów mineralnych i organicznych
    </li>
    <li>
      Redukcja stężenia Chemicznego Zapotrzebowania na Tlen (ChZT) w ściekach przemysłowych za pomocą
      funkcjonalizowanych sorbentów mineralnych, z uwzględnieniem różnych metod modyfikacji i warunków procesowych
    </li>
    <li>
      Przekształcenie fusów z kawy w biowęgle jako biodegradowalne sorbenty metali ciężkich oraz nutrientów, z
      optymalizacją procesu pirolizy i aktywacji, wraz z ich zastosowaniem jako nawozy
    </li>
    <li>
      Opracowanie kompozytów zeolitowo-algowych jako sorbentów mineralno-organicznych, z wykorzystaniem technologii
      druku 3D
    </li>
  </ul>
</Layout>
