---
import Layout from "../layout.astro";
import PageHeader from "../page-header.astro";
---

<Layout>
  <PageHeader>Obszar badań</PageHeader>
  <p>
    Obszar badań tego koła naukowego skupia się na <strong
      >inżynierii i ochronie środowiska</strong
    >.
  </p>
  <p>
    Głównym celem jest badanie podstawowych elementów przyrody, takich jak
    gleba, woda i powietrze, w tym sposobów oceny ich jakości i wykrywania
    zanieczyszczeń.
  </p>
  <p>
    Dodatkowo członkowie pracują nad wykorzystaniem geomateriałów, które
    pomagają w technologiach przywracania czystości środowiska, by poprawić jego
    stan i wspierać jego regenerację w zrównoważony sposób.
  </p>
</Layout>
