---
import DesktopHeader from "./header/desktop-header.astro";
import MobileHeader from "./header/mobile-header.astro";
import "./base.css";
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Koło naukowe "Tryton"</title>
    <meta
      name="description"
      content="Koło akademickiego koła naukowego 'Tryton'"
    />
    <!-- todo: load just the necessary weights -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <DesktopHeader />
    <MobileHeader />
    <main class="container mx-auto mt-[theme(headerHeight)] px-6 md:mt-0">
      <slot />
    </main>
  </body>
</html>
